*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
/* ---------------------------------------------------------------------- */
.header{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dddddd;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 80px;
    z-index: 1;
}

.header__logo{
    display:flex;
    cursor: pointer;
}
.header__logo i{
    font-size: 50px;
    color:#b39329;
}

.header__logo-name{
    display: flex;
    align-items: center;
    color: #b39329;
    font-size:20px;
}
.header__logo-name p{
    font-weight: 900;
    padding-left: 5px;
}
.header__menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 500px;
}

.header__menu-item{
    font-size:16px;
    font-weight:bold;
    display: flex;
    align-items: center;
    color:#222222;
    cursor: pointer;
    transition: transform linear 0.5s;
    will-change: transform;
}

.header__menu-item:hover{
    transform: translateY(-2px);
    color: #717171;
}

.header__menu-item i{
    color: #717171;
    font-size: 20px;
}

.header__menu-item p:last-child{
    padding-left: 5px;
}
.logohelmet{
    width:25px;
}
.header__menu-item-logo{
    display: none;
}
.header__menu-item-logo.logo-active{
    display: block;
}
.header__option{
    display: flex;
    width: 170px;
    align-items: center;
    justify-content: space-between;
}

.header__option i{
    font-size:25px;
}

.header__option-search i{
    font-size: 20px;
    cursor: pointer;
}

.header__option-cart{
    font-size: 20px;
    cursor: pointer;
    position: relative;
}
.header__option-cart-none{
    position: absolute;
    top: calc(100% + 12px);
    right: -10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    width:200px;
    background-color: #fff;
    padding:5px;
    text-align: center;
    font-size: 16px;
    display:none;
}
.header__option-cart:hover .header__option-cart-none{
    display: block;
}
.header__option-search:hover,
.header__option-cart:hover{
    color: #717171;
}

.header__option-user{
    color: #717171;
    height: 42px;
    width:72px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dddddd;
    border-radius: 21px;
    cursor: pointer;
    position: relative;
    margin: 0;
}
.header__option-user:hover{
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.header__option-user:hover .header__option-account{
    display: block;
}
.header__option-user i{
    padding:0 5px;
}
.header__option-user i:first-child{
    font-size: 16px;
    color:#222222;
    padding-left: 10px;
}
.header__option-account::before{
    content:"";
    position:absolute;
    height:20px;
    width:70px;
    top:100%;
    right:0;
}
.header__option-account{
    display: none;
}
.header__option-user-account{
    position:absolute;
    top: calc(100% + 10px);
    border: 1px solid #dddddd;
    right: 0;
    width:150px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding:5px 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.header__option-user-account p{
    height: 30px;
    width: 100%;
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__option-user-account p:hover{
    color:#222222;
}
/* Footer---------------------------------------------------------------------- */
.footer__header{
    background-color: #b39329;
    padding: 0 80px;
    display:flex;
    height: 100px;
    background-color:#b39329;
}

.footer__header-email{
    flex: 1;
    display:flex;
    align-items: center;
}
.footer__header-email-inp{
    border: 1px solid #dddddd;
    background-color: #fff;
}

.footer__header-email-inp input{
    height:38px;
    width:350px;
    outline: none;
    border:none;
    padding-left: 10px;

}

.footer__header-email-btn{
    height:40px;
    width:100px;
    border:1px solid #222222;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #222222;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}
.footer__header-email-btn:hover{
    background-color: #dddddd;
    border:1px solid #dddddd;
    color: #222222;
}
.footer__header-social{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: right;
}

.social__border{
    height:40px;
    width: 40px;
    background-color: #fff;
    margin-left: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content:center;
    cursor: pointer;
}
.social__border i{
    font-size: 25px;
    color: #b39329;
}
.social__border:hover{
    background-color: #dddddd;
}
/* ----------------------------------------- */
.footer__container{
    padding:0 80px;
    background-color: #f8f1f1;
}

.footer__content{
    display: flex;
    padding:70px 0;
}

.footer__contact{
    flex: 1;
}
.footer__contact h3{
    padding:15px 0;
}
.footer__contact-item{
    display: flex;
    padding-bottom: 5px;
}
.footer__contact-item i{
    font-size:16px;
    width: 20px;
    margin-right: 5px;
    color: #353535;
}
.footer__contact-item p{
    font-size:14px;
}
.footer__extra{
    flex: 2;
}

.footer__extra-content{
    display: flex;
}

.footer__extra-content-item{
    flex: 1;
}
.footer__extra-content-item h3{
    padding:15px 0;
}
.footer__extra-content-item p{
    padding-bottom: 10px;
    font-size:14px;
    transition: all 0.1s;
    cursor: pointer;
}
.footer__extra-content-item p:hover{
    transform: translateX(4px);
}
.footer__register{
    flex: 1;
}
.footer__register h3{
    padding:15px 0;
}
.footer__register p{
    padding-bottom: 10px;
    font-size: 14px;
}
.footer__register-email{
    width: 250px;
    height: 40px;
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    background-color: #fff;
}
.footer__register-email input{
    outline:none;
    border:none;
    height: 100%;
    width: 200px;
    flex:5;
    padding-left: 10px;
}
.footer__register-email i{
    flex:1;
    text-align: center;
    color:#b39329;
    cursor: pointer;
}
.footer__copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background-color:#353535;
    color: #fff;
}
/*Container -------------------------------------------------------------------------- */
.container{
    padding: 80px 80px 0 80px;
}

.container__header{
    display:flex;
    align-items: center;
    height:70px;
}

.container__header-menu{
    flex: 1;
    display:flex;
}

.container__header-product{
    font-weight: bold;
    cursor: pointer;
}

.container__header-line{
    padding:0 15px;
}

.container__header-item{
    cursor: pointer;
}
.container__header-product:hover,
.container__header-item:hover{
    color: #717171;
}

.container__header-tools{
    flex:4;
    display: flex;
    align-items: center;
    justify-content:right
}

.container__header-tools-search{
    height: 30px;
    border: 1px solid #dddddd;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.container__header-tools-search input{
    flex:6;
    height:100%;
    outline: none;
    border: none;
    padding-left: 10px;
}
.container__header-tools-search i{
    flex:1;
    cursor: pointer;
    height:100%;
    display:flex;
    align-items: center;
    justify-content:center;
}
.container__header-tools-search i:hover{
    background-color: #f8f1f1;
}
.container__header-tools p{
    font-size:14px;
    padding:0 10px 0 50px;
}
.container__header-tools-select{
    height:30px;
    width: 150px;
    border: 1px solid #dddddd;
}

#container__header-tools-select{
    font-size:14px;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    cursor: pointer;
}
/* ----------------------------------------------- */
.container__content{
    display:flex;

}
.container__option{
    flex:1;
}

.container__option-category-header{
    height:70px;
    width: 100%;
    font-weight: bold;
    color: #b39329;
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: #f8f1f1;
}

.container__option-category-items{
    border: 1px solid #dddddd;
    border-top: 0px;
}
.container__option-category-item{
    height:50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;
}
.container__option-category-item.active{
    background-color: #b39329;
    color: #fff;
}
.container__option-category-items p:hover{
    background-color: #b39329;
    color: #fff;
}
.container__option-heighleights{
    padding:50px 0;
}

.container__option-heighleights-header{
    height:70px;
    width: 100%;
    font-weight: bold;
    color: #b39329;
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: #f8f1f1;
}

.container__option-heighleights-items{
    border: 1px solid #dddddd;
    border-top: 0px;
}
.container__option-heighleights-item:hover .container__option-heighleights-item-name p,
.container__option-heighleights-item:hover{
    background-color: #b39329;
    color: #fff;
}

.container__option-heighleights-item{
    display:flex;
    align-items:center;
    padding: 10px;
}

.container__option-heightleight-item-picture{
    flex:1;
    padding: 5px;
}
.container__option-heighleights-item-img{
    padding-top: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
}

.container__option-heighleights-item-name{
    flex:3;
    padding-left: 10px;
}
.container__option-heighleights-item-name p{
    color: #b39329;
    padding-top: 10px;
    font-size:14px;
}
/* -------------------------------------------------- */
.container__product{
    flex:4;
    display:flex;
    flex-wrap: wrap;
}
.container__product-item{
    flex:25%;
    max-width: 25%;
    padding: 0 0 20px 20px;
    cursor: pointer;
}

.container__product-item-picture{
    padding: 20px;
}

.container__product-item-img{
    padding-top: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    transition: all 1s;
}

.container__product-item-name{
    display:flex;
    flex-flow: column;
    align-items: center;
}
.container__product-item-name p{
    color: #b39329;
    padding-top: 10px;
    font-size:14px;
}
.container__product-item:hover{
    color: #717171;
}
.container__product-item:hover .container__product-item-img{
    transform: scale(1.1);
}